---
import type { GetStaticPaths } from "astro";

import { getSnippetMetadata, getSnippets, transformCode } from "@/lib/snippets";

import Code from "@/components/Code.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { Typography } from "@/components/ui/typography";
import { Installation } from "@/components/Installation";

export const getStaticPaths = (async () =>
  Promise.all(
    Object.entries(await getSnippets())
      .map(
        ([section, snippets]) =>
          snippets?.map((snippet) => ({
            params: { section, name: snippet.name },
            props: { snippet },
          })) ?? [],
      )
      .flat(),
  )) satisfies GetStaticPaths;

const { name, section } = Astro.params;
const { snippet } = Astro.props;

const { description, examples, content } = await getSnippetMetadata(snippet);

const exampleBlock = `import { ${name} } from "@/${section}/${name}";

${examples.join("\n\n")}
`.trim();
---

<BaseLayout>
  <header class="mb-8">
    <Typography variant="h1" className="mb-2">
      {name}
    </Typography>

    <Typography variant="p" className="text-lg" color="muted">
      {description}
    </Typography>
  </header>

  <Typography variant="h2">Usage</Typography>

  <Code code={exampleBlock} lang="typescript" class="mb-12" />

  <Typography variant="h2">Installation</Typography>

  <Installation client:load>
    <Typography slot="cli">
      <Code code={`npx codedex add ${name}`} lang="bash" wrap />
    </Typography>
    <div slot="manual">
      <Typography className="py-4 mb-0">
        Copy and paste the following method into
        <code class="text-muted-foreground">
          @/utils/{name}.tsx:
        </code>
      </Typography>
      <Code code={content} lang="typescript" class="mt-0" />
    </div>
  </Installation>
</BaseLayout>
