---
import { Link } from "@/components/ui/link";
import { ScrollArea } from "@/components/ui/scroll-area";
import { Typography } from "@/components/ui/typography";

import { getSnippets } from "@/lib/snippets";
import { cn } from "@/lib/utils";

const section = Astro.params.section as string;
const snippets = await getSnippets();
const groupedByCategory = Object.groupBy(
  snippets[section]!,
  ({ category }) => category,
);
---

<aside class="h-full overflow-hidden border-r">
  <ScrollArea className="h-full" client:load data-nav>
    {
      Object.entries(groupedByCategory).map(([category, snippets]) => (
        <section class="w-full py-4 px-2">
          <Typography
            className="text-sm select-none pointer-events-none capitalize mb-2 ml-2"
            variant="h6"
          >
            {category}
          </Typography>
          <ul>
            {snippets?.map(({ name }) => (
              <li data-nav-item={name} class="w-full">
                <Link
                  className={cn(
                    "w-full inline-block rounded-md border-transparent border p-2",
                    Astro.params.name === name && "bg-muted text-foreground",
                  )}
                  href={`/${section}/${name}`}
                >
                  {name}
                </Link>
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </ScrollArea>
</aside>

<script define:vars={{ name: Astro.params.name }}>
  document
    .querySelector("[data-nav]")
    .querySelector(`[data-nav-item=${name}]`)
    .scrollIntoView({
      behavior: "instant",
      block: "center",
      inline: "center",
    });
</script>
